<div class="popup popup--call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Вызвать мастера</h2>
      <div class="popup__text">
        <p>
          уточните необходимые данные и мастер свяжется с Вами для подтверждения
          вызова
        </p>
      </div>

      <form class="request__form form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="call-name">Имя</label>
          <div class="form-submit__input-wrap form-submit__input-wrap--name">
            <input
              class="form-submit__input"
              name="name"
              id="call-name"
              type="text"
              placeholder="Введите ваше имя"
              required
            />
          </div>
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="call-tel">
            Контактный телефон
          </label>
          <div class="form-submit__input-wrap form-submit__input-wrap--phone">
            <input
              class="form-submit__input"
              name="tel"
              id="call-tel"
              type="tel"
              placeholder="+7 (___) ___-__-__"
              required
            />
          </div>
          <label class="form-submit__label" for="call-address">
            Контактный телефон
          </label>
          <div class="form-submit__input-wrap form-submit__input-wrap--phone">
            <input
              class="form-submit__input"
              name="address"
              id="call-address"
              type="text"
              placeholder="Укажите адрес"
              required
            />
          </div>
        </div>

        <button class="form-submit__btn btn" type="button">
          Оставить заявку
        </button>
      </form>
    </div>
  </div>
</div>
