.blog {
  .container {
    padding: 0;
  }

  @include adaptive-value('padding-top', 30, 20, 1);

  &__title {
    @include adaptive-value('margin-bottom', 40, 30, 1);
    position: relative;
    padding-left: 45px;

    &::after {
      @include elDef();
      width: 24px;
      height: 1px;
      background-color: var(--color-accent);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 425px));
    gap: 22px;
    justify-content: space-between;
    @include adaptive-value('margin-bottom', 60, 40, 1);

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 425px);
      justify-content: center;
    }
  }
}

.blog-card {
  max-width: 425px;
  width: 100%;
  padding: 17px 19px;
  background-color: var(--color-white);

  @include adaptive-value('padding-top', 17, 12, 1);
  @include adaptive-value('padding-bottom', 17, 12, 1);
  @include adaptive-value('padding-left', 19, 12, 1);
  @include adaptive-value('padding-right', 19, 12, 1);

  transition: 250ms ease;

  &:hover {
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    transform: translate(-3px, -3px);
  }

  &__img {
    width: 100%;

    @include adaptive-value('height', 220, 180, 1);

    img {
      @include img(cover);
      border-radius: 10px;
    }
  }

  &__info {
    padding: 20px;
    @include adaptive-value('padding', 20, 10, 1);
    @include breakpointsMaxW($bp-576) {
      padding-top: 20px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: #484848;
    margin-bottom: 20px;
    @include adaptive-value('margin-bottom', 20, 10, 1);

    &:hover {
      color: var(--color-accent);
      a {
        color: inherit;
      }
    }
  }

  &__text {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #747474;
  }
}

.pagination {
  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    border-radius: 10px;
    position: relative;
    transition: 150ms ease;

    &::after {
      @include elDef();
      width: 14px;
      height: 3px;
      background-color: var(--color-accent);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: 150ms ease;
    }

    &:hover,
    &--active {
      background-color: var(--color-accent);
      &::after {
        display: none;
      }

      font-weight: 800;
    }
    &--active {
      font-weight: 800;
      &::after {
        display: none;
      }
    }
    &--last {
      width: auto;
      margin-left: 10px;

      &::after {
        width: 100%;
      }

      &:hover {
        background-color: transparent;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}
