.contacts {
  @include adaptive-value('padding-top', 80, 50, 1);
  padding-bottom: 20px;
  font-family: $Circe;

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 390px) 1fr;
    @include adaptive-value('gap', 50, 30, 1);
    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    @include adaptive-value('font-size', 45, 30, 1);

    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__offer {
    max-width: 400px;
  }

  &__links {
    display: grid;
    gap: 20px;

    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__link {
    display: block;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    color: #191919;
    padding-left: 30px;
    position: relative;
    transition: 150ms;

    &:hover {
      color: var(--color-black);
      font-weight: 700;
    }

    &::after {
      @include elDef();
      width: 18px;
      height: 18px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #191919;
    }

    &--phone {
      &::after {
        @include maskImage(url('../images/icons/whatsapp.svg'), contain);
      }
    }
    &--address {
      &::after {
        @include maskImage(url('../images/icons/location.svg'), contain);
      }
    }
    &--mail {
      &::after {
        @include maskImage(url('../images/icons/mail.svg'), contain);
      }
    }
    &--instagram {
      &::after {
        @include maskImage(url('../images/icons/instagram.svg'), contain);
      }
    }
  }

  &__map {
    height: 490px;
    width: 100%;

    @include breakpointsMaxW($bp-991) {
      height: calc(250px + (490 - 250) * ((100vw - 375px) / (991 - 375)));
    }
  }

  &__btn {
    background-color: var(--color-accent);

    border-radius: 32px;
    font-size: 23px;
    padding: 20px 54px;
    font-weight: 700;
    transition: 150ms ease;

 
    &:active {
      box-shadow: 0px 0px 0px 0px var(--color-accent);
    }
  }

  &__download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 21px;
    border: 1px solid var(--color-accent);
    @include adaptive-value('margin-bottom', 33, 20, 1);

    &-link {
      width: 50%;
      font-size: 14px;
      line-height: 19px;
      font-weight: 300;
      color: #191919;
      padding: 13px 20px;
      background-color: var(--color-white);
      transition: 150ms ease;

      @include breakpointsMaxW($bp-576) {
        font-size: 12px;
        padding: 10px;
        text-align: center;
      }

      &:hover {
        background-color: var(--color-accent);
        color: var(--color-black);
      }

      &--download {
        padding-left: 44px;
        border-right: 1px solid var(--color-accent);
        position: relative;
        @include breakpointsMaxW($bp-360) {
          padding-left: 30px;
        }

        &::after {
          @include elDef();
          width: 20px;
          height: 20px;
          @include backgroundImage(url('../images/icons/pdf.svg'), contain);
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          @include breakpointsMaxW($bp-576) {
            left: 20px;
          }
          @include breakpointsMaxW($bp-360) {
            left: 10px;
          }
        }
      }
    }
  }

  &--video {
    .contacts {
      &__link {
        &::after {
          background-color: #ffbd4c;
        }
        &--phone {
          &::after {
            background-color: #83d8a9;
          }
        }
      }
    }
  }
}
