.promo {
  font-family: $Circe;
  position: relative;

  &__wrapper {
    min-height: 640px;
    @include adaptive-value('padding-top', 50, 30, 1);
    @include adaptive-value('padding-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      min-height: auto;
    }
  }

  &__title {
    @include fz45();
    max-width: 510px;
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
    }

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 30px;
    }
  }

  &__text {
    margin-bottom: 35px;
  }

  &__offer {
    max-width: 580px;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include adaptive-value('margin-bottom', 50, 30, 1);

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 180px;
      justify-content: center;
    }
  }

  &__heading {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    color: #31303d;

    span {
      display: block;
    }
  }

  &__btn {
    @include breakpointsMaxW($bp-991) {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 20px;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0px 11px 51px 0px rgba(28, 28, 28, 0.09);
    border-radius: 10px;
    text-align: center;

    &:first-child {
      &::before {
        @include elDef();
        width: 38px;
        height: 38px;
        top: 7px;
        left: 7px;
        @include backgroundImage(
          url('../images/content/promo-decor.png'),
          contain
        );
      }
    }

    &:last-child {
      &::before {
        @include elDef();
        width: 38px;
        height: 38px;
        top: 7px;
        right: 7px;
        @include backgroundImage(
          url('../images/content/promo-decor.png'),
          contain
        );
        transform: rotate(90deg);

        @include breakpointsMaxW($bp-576) {
          top: initial;
          bottom: 7px;
          transform: rotate(180deg);
        }
      }
    }

    &::after {
      @include elDef();
      width: 44px;
      height: 40px;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--free {
      &::after {
        @include backgroundImage(
          url('../images/icons/air-conditioner.svg'),
          contain
        );
      }
    }

    &--warranty {
      &::after {
        @include backgroundImage(
          url('../images/icons/warranty-2.svg'),
          contain
        );
      }
    }

    &--transportation {
      &::after {
        @include backgroundImage(
          url('../images/icons/transportation.svg'),
          contain
        );
      }
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    right: max(15px, calc((100% - 1200px) / 2));
    width: 620px;
    height: 700px;
    @include background(contain);
    z-index: -1;

    @include breakpointsMaxW($bp-container) {
      width: calc(400px + (620 - 400) * ((100vw - 991px) / (1230 - 991)));
      height: calc(550px + (700 - 550) * ((100vw - 991px) / (1230 - 991)));
      right: 15px;
    }

    @include breakpointsMaxW($bp-991) {
      width: 100%;
      height: 700px;
      position: static;
      width: calc(280px + (620 - 280) * ((100vw - 375px) / (991 - 375)));
      height: calc(300px + (700 - 300) * ((100vw - 375px) / (991 - 375)));
      margin: 0 auto;
    }
  }

  &--ventilation {
    .promo {
      &__preview {
        height: 430px;
        width: 910px;
        top: 50%;
        transform: translateY(-50%);
        right: max(0px, calc((100% - 2000px) / 2));

        @include breakpointsMaxW(1440px) {
          width: calc(600px + (910 - 600) * ((100vw - 991px) / (1440 - 991)));
          height: calc(330px + (430 - 330) * ((100vw - 991px) / (1440 - 991)));
        }

        @include breakpointsMaxW($bp-991) {
          width: calc(320px + (910 - 320) * ((100vw - 375px) / (991 - 375)));
          height: calc(270px + (430 - 270) * ((100vw - 375px) / (991 - 375)));
          margin-top: 100px;
          margin-right: 0;
        }
      }
    }
  }

  &--pumps {
    overflow: hidden;

    .promo {
      &__wrapper {
        position: relative;
      }

      &__offer {
        @include breakpointsMaxW($bp-container) {
          max-width: 550px;
        }

        @include breakpointsMaxW($bp-991) {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }

      &__preview {
        position: absolute;
        right: -90px;
        width: 590px;
        height: 545px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpointsMaxW($bp-container) {
          width: calc(400px + (590 - 400) * ((100vw - 991px) / (1230 - 991)));
          height: calc(450px + (545 - 450) * ((100vw - 991px) / (1230 - 991)));
          right: 0;
        }

        @include breakpointsMaxW($bp-991) {
          position: static;
          max-width: 400px;
          width: 100%;
          height: 400px;
          transform: translateY(0);
        }

        @include breakpointsMaxW($bp-576) {
          max-width: 300px;
          height: 300px;
        }
      }
    }
  }

  &--boilers {
    overflow: hidden;
    @include backgroundImage(
      url('../images/content/promo-boilers.jpg'),
      contain
    );
    background-color: #f8f8f8;

    @include breakpointsMaxW(1920px) {
      background-size: cover;
    }

    @include breakpointsMaxW($bp-991) {
      padding-bottom: 300px;
      background-size: 900px;
      background-position: 200% 100%;
    }

    @include breakpointsMaxW($bp-768) {
      background-position: 85% 100%;
    }

    @include breakpointsMaxW($bp-576) {
      padding-bottom: 230px;
      background-size: 700px;
    }

    .promo {
      &__wrapper {
        position: relative;
      }

      &__title {
        max-width: 100%;
      }

      &__offer {
        @include breakpointsMaxW($bp-container) {
          max-width: 630px;
        }

        @include breakpointsMaxW($bp-991) {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }

      &__preview {
        position: absolute;
        right: -90px;
        width: 590px;
        height: 545px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpointsMaxW($bp-container) {
          width: calc(400px + (590 - 400) * ((100vw - 991px) / (1230 - 991)));
          height: calc(450px + (545 - 450) * ((100vw - 991px) / (1230 - 991)));
          right: 0;
        }

        @include breakpointsMaxW($bp-991) {
          position: static;
          max-width: 400px;
          width: 100%;
          height: 400px;
          transform: translateY(0);
        }

        @include breakpointsMaxW($bp-576) {
          max-width: 300px;
          height: 300px;
        }
      }
    }
  }

  &--viessman {
    overflow: hidden;

    .promo {
      &__wrapper {
        position: relative;
      }

      &__offer {
        @include breakpointsMaxW($bp-991) {
          margin-bottom: 30px;
        }
      }

      &__preview {
        width: 560px;
        height: 465px;
        top: 50%;
        transform: translateY(-50%);
        right: -40px;

        @include breakpointsMaxW(1440px) {
          right: 0;
        }

        @include breakpointsMaxW($bp-container) {
          width: calc(330px + (560 - 330) * ((100vw - 991px) / (1230 - 991)));
        }

        @include breakpointsMaxW($bp-991) {
          max-width: 400px;
          width: 100%;
          transform: translateY(0);
          max-height: 400px;
          min-height: 300px;
        }
      }
    }
  }
}
