.terms {
  font-family: $Circe;
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);
  @include fz18();

  position: relative;

  &__title {
    @include fz45();
    margin-bottom: 75px;
    @include breakpointsMaxW($bp-768) {
      margin-bottom: 90px;
      text-align: center;
    }
  }

  &__wrapper {
    position: relative;

    border: 1px solid var(--color-accent);
    padding: 20px;
    padding-top: 80px;

    @include breakpointsMaxW($bp-991) {
      margin-bottom: 40px;
    }

    @include breakpointsMaxW($bp-768) {
      padding-top: 100px;
    }

    @include breakpointsMaxW($bp-360) {
      padding: 100px 10px 10px 10px;
    }
  }

  &__top {
    position: absolute;
    top: 0;
    left: 20px;
    background-color: var(--color-accent);
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 13px 20px;
    width: 80%;

    @include breakpointsMaxW($bp-container) {
      max-width: 655px;
      width: 100%;
    }

    @include breakpointsMaxW($bp-991) {
      width: calc(100% - 40px);
    }

    @include breakpointsMaxW($bp-360) {
      padding: 10px;
    }

    p {
      max-width: 655px;
    }
  }

  &__text {
    max-width: 655px;
    font-weight: 300;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__preview {
    position: absolute;
    width: 582px;
    height: 478px;
    top: 50%;
    transform: translateY(-50%);
    @include background(contain);

    right: max(15px, calc((100% - 1400px) / 2));

    @include breakpointsMaxW(1440px) {
      width: calc(300px + (580 - 300) * ((100vw - 991px) / (1440 - 991)));
      height: calc(250px + (480 - 250) * ((100vw - 991px) / (1440 - 991)));
    }

    @include breakpointsMaxW($bp-container) {
      top: initial;
      bottom: 100px;
      transform: translateY(0);
    }

    @include breakpointsMaxW($bp-991) {
      margin: 0 auto;
      position: static;
      width: calc(280px + (580 - 280) * ((100vw - 375px) / (991 - 375)));
      height: calc(250px + (480 - 250) * ((100vw - 375px) / (991 - 375)));
    }
  }
}
