.viessman-allday {
  @include adaptive-value('padding-top', 80, 40, 1);
  @include adaptive-value('padding-bottom', 80, 40, 1);
  background-position: right center;
  overflow: hidden;

  &__wrapper {
    position: relative;
  }

  &__offer {
    width: 52%;

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }
  }

  &__left {
    @include breakpointsMaxW($bp-991) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-family: $Circe;
    max-width: 515px;
    letter-spacing: 1.1px;
    @include fz45();
    @include adaptive-value('margin-bottom', 35, 30, 1);

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }

  &__text {
    @include adaptive-value('margin-bottom', 40, 30, 1);
    line-height: 1.8;

    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__preview {
    width: 430px;
    max-height: 590px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;

    @include breakpointsMaxW($bp-container) {
      width: calc(400px + (430 - 400) * ((100vw - 991px) / (1230 - 991)));
      right: 0;
    }

    @include breakpointsMaxW($bp-991) {
      max-width: 350px;
      width: 100%;
      position: static;
      transform: translateY(0);
      margin: 0 auto;
      max-height: 500px;
    }

    img {
      @include img(contain);
    }
  }

  &__box {
    padding: 40px 35px;
    border-left: 13px solid var(--color-accent);
    width: 65%;
    line-height: 1.8;
    @include backgroundImage(
      url('../images/content/pumps-spare-overlay.png'),
      cover
    );
    @include adaptive-value('font-size', 17, 15, 1);

    p {
      max-width: 605px;

      @include breakpointsMaxW($bp-991) {
        max-width: 100%;
      }
    }

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }

    @include breakpointsMaxW($bp-768) {
      padding: 20px;
    }
  }
}
