.without-delays {
  font-family: $Circe;
  @include adaptive-value('padding-top', 75, 40, 1);
  @include adaptive-value('padding-bottom', 75, 40, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: 425px 1fr;
    align-items: center;
    gap: 60px;
    @include breakpointsMaxW($bp-container) {
      gap: 40px;
    }
    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 225px 1fr;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr
    }
  }

  &__preview {
    height: 625px;
    max-width: 400px;
    width: 100%;
    position: relative;
    @include background(contain);

    @include breakpointsMaxW($bp-991) {
      height: 425px;
    }
    @include breakpointsMaxW($bp-768) {
      display: none;
    }

    &::after {
      @include elDef();
      background-color: #e1dcde;
      height: calc(100% - 40px);
      left: -30px;
      bottom: 0;
      width: 100%;
      z-index: -1;
      border-radius: 10px;
      @include breakpointsMaxW($bp-991) {
        bottom: 35px;
      }
    }
  }
  &__title {
    @include fz45();
    @include adaptive-value('margin-bottom', 35, 20, 1);
  }

  &__list {
    display: grid;
    gap: 20px;
    @include adaptive-value('margin-bottom', 60, 30, 1);
  }

  &__item {
    padding-left: 33px;
    position: relative;

    &::after {
      @include elDef();
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include backgroundImage(url('../images/icons/checked.svg'), contain);
    }
  }
}
