<section class="articles">
  <h2 class="articles__title">Демонтаж сплит-системы с сохранением фреона</h2>
  <div class="articles__text">
    <p>
      Сплит-система – это современное устройство для кондиционирования воздуха.
      Состоит из двух блоков: внешнего и внутреннего, соединенных между собой
      медными трубопроводами. Демонтаж, равно как и монтаж, такого оборудования
      нужно производить силами квалифицированных специалистов, сертифицированных
      для работы в этой области.
    </p>
  </div>
  <div class="articles__preview">
    <img
      src="images/content/article.jpg"
      alt="Демонтаж сплит-системы с сохранением
      фреона"
    />
  </div>

  <div class="articles__text">
    <p>
      Особенностью сплит-систем является то, что для каждой из них еще на заводе
      производителя рассчитывается максимально допустимая длина трассы от
      внешнего до внутреннего блока, которая прописывается в технических
      характеристиках. Это значение, в числе прочего, определяет количество
      холодильного агента (фреона) в теплообменнике внешнего блока, которое
      заправляют при производстве.
    </p>

    <p>
      Чтобы произвести демонтаж системы необходимо отсоединить медные
      трубопроводы, подключенные к внешнему и внутреннему блоку. Однако при их
      отсоединении большая часть холодильного агента выйдет наружу. Поэтому если
      эту же сплит-систему будут потом устанавливать в другом месте, расчет и
      заправку кондиционера новым количеством фреона придётся производить
      заново.
    </p>

    <p>
      Другая проблема, с которой можно столкнуться при демонтаже и последующем
      монтаже кондиционера на новом объекте, – возможная утечка масла из
      системы, в случае неграмотного проведения работ, а это уже чревато
      большими сложностями.
    </p>

    <p>
      Далее нужно шланг, идущий к манометру низкого давления, подсоединить к
      всасывающему вентилю. Шестигранником следует закрыть нагнетательный
      вентиль из внешнего блока. Таким образом компрессор, после того, как
      кондиционер запустится в режиме охлаждения, соберет весь фреон из
      внутреннего блока сплит-системы в теплообменнике внешнего блока. Для этого
      необходимо установить на пульте управления режим охлаждения с самой
      минимальной температурой установки.
    </p>

    <p>
      Запускаем кондиционер, внимательно смотрим на показания манометра,
      вставляем шестигранник в вентиль всасывающего трубопровода, готовимся
      быстро его закрыть. В зависимости от мощности сплит-системы в таком режиме
      он должна проработать недолго – от 10 до 20 секунд. При этом стрелка
      манометра будет быстро приближаться к нулю. Как только это произойдет,
      следует быстро закрыть шток вентиля низкого давления и тут же выключить
      кондиционер с пульта.
    </p>

    <p>
      Во время такой работы возможно появление посторонних шумов от компрессора.
      Такие шумы негативно влияют на работу и срок службы компрессора, именно
      поэтому закрытие сервисного вентиля низкого давления и выключение системы
      должно происходить очень быстро. Если у пользователя нет такого навыка, то
      лучше эти операции производить не в одиночку. Еще лучше пригласить
      опытного специалиста, в противном случае задержка в действиях может
      вывести из строя компрессор. После закрытия всех вентилей нужно обесточить
      сплит-систему.
    </p>

    <p>
      Далее уже можно производить сам демонтаж: отсоединить медные трубки от
      внешнего блока (обычно это резьбовые соединения) и трубки от внутреннего
      блока (обычно это тоже резьбовые соединения). Соединение с внутренним
      блоком может быть паяное, тогда следует аккуратно отрезать трубки, загнуть
      концы, чтобы избежать попадания внутрь трубок загрязнений. Отсоединенные
      трубопроводы вторично лучше не использовать, даже если все длины и
      соединения на новом месте будут одинаковые.
    </p>

    <p>
      Самый простой способ, который не требует специальных навыков и
      инструментов, также заключается в сборе холодильного агента в
      теплообменнике внешнего блока. Однако подключать манометры и шланги не
      требуется. Последовательность сбора холодильного агента и демонтаж такие
      же, как в предыдущем случае, но поскольку нет манометра, по которому можно
      отследить снижение давления до нуля, то ориентироваться следует только на
      время.
    </p>

    <p>
      После включения сплит-системы в режиме охлаждения на минимальную
      температуру, через 10-15 секунд быстро перекрывается всасывающий вентиль и
      выключается сплит-система. Чем меньше производительность сплит-системы,
      тем меньше время работы кондиционера в таком режиме и наоборот. Причем в
      течение этих 10-15 секунд следует прислушиваться к работе компрессора. В
      случае появления сильных посторонних звуков также стоит перекрыть вентиль
      и выключить кондиционер. Использовать такой способ можно только в случае
      срочного демонтажа сплит-системы, поскольку это может привести к выходу из
      строя компрессора.
    </p>
    <p>
      Существует третий способ, которым можно воспользоваться, если
      заблаговременно знать о необходимости производить демонтаж сплит-системы.
      Для этого следует дождаться низких температур наружного воздуха, перекрыть
      всасывающий и нагнетательный вентили. При низких температурах большая
      часть фреона естественным путем соберется в теплообменнике внешнего блока.
      Останется только отсоединить медные трубопроводы, как в предыдущих
      случаях. Данный способ очень простой, но все равно небольшая утечка
      холодильного агента произойдет, и при последующей установке придется
      произвести дозаправку кондиционера.
    </p>

    <p>
      Существует еще один способ демонтировать кондиционер, самый сложный,
      требующий применения профессионального оборудования. Однако без
      специальных навыков им не воспользоваться. В сплит- системах высокой
      производительности фреон заправляется в большом количестве и не всегда его
      можно в полном объеме собрать в теплообменнике внешнего блока. В таких
      случаях применяют специальные заправочные цилиндры, куда собирается весь
      фреон. В этом случае роль теплообменника будет выполнять заправочный
      цилиндр.
    </p>

    <p>
      Запускаем кондиционер, внимательно смотрим на показания манометра,
      вставляем шестигранник в вентиль всасывающего трубопровода, готовимся
      быстро его закрыть. В зависимости от мощности сплит-системы в таком режиме
      он должна проработать недолго – от 10 до 20 секунд. При этом стрелка
      манометра будет быстро приближаться к нулю. Как только это произойдет,
      следует быстро закрыть шток вентиля низкого давления и тут же выключить
      кондиционер с пульта.
    </p>

    <p>
      Во время такой работы возможно появление посторонних шумов от компрессора.
      Такие шумы негативно влияют на работу и срок службы компрессора, именно
      поэтому закрытие сервисного вентиля низкого давления и выключение системы
      должно происходить очень быстро. Если у пользователя нет такого навыка, то
      лучше эти операции производить не в одиночку. Еще лучше пригласить
      опытного специалиста, в противном случае задержка в действиях может
      вывести из строя компрессор. После закрытия всех вентилей нужно обесточить
      сплит-систему.
    </p>

    <p>
      Далее уже можно производить сам демонтаж: отсоединить медные трубки от
      внешнего блока (обычно это резьбовые соединения) и трубки от внутреннего
      блока (обычно это тоже резьбовые соединения). Соединение с внутренним
      блоком может быть паяное, тогда следует аккуратно отрезать трубки, загнуть
      концы, чтобы избежать попадания внутрь трубок загрязнений. Отсоединенные
      трубопроводы вторично лучше не использовать, даже если все длины и
      соединения на новом месте будут одинаковые.
    </p>

    <p>
      Самый простой способ, который не требует специальных навыков и
      инструментов, также заключается в сборе холодильного агента в
      теплообменнике внешнего блока. Однако подключать манометры и шланги не
      требуется. Последовательность сбора холодильного агента и демонтаж такие
      же, как в предыдущем случае, но поскольку нет манометра, по которому можно
      отследить снижение давления до нуля, то ориентироваться следует только на
      время.
    </p>

    <p>
      После включения сплит-системы в режиме охлаждения на минимальную
      температуру, через 10-15 секунд быстро перекрывается всасывающий вентиль и
      выключается сплит-система. Чем меньше производительность сплит-системы,
      тем меньше время работы кондиционера в таком режиме и наоборот. Причем в
      течение этих 10-15 секунд следует прислушиваться к работе компрессора. В
      случае появления сильных посторонних звуков также стоит перекрыть вентиль
      и выключить кондиционер. Использовать такой способ можно только в случае
      срочного демонтажа сплит-системы, поскольку это может привести к выходу из
      строя компрессора.
    </p>
    <p>
      Существует третий способ, которым можно воспользоваться, если
      заблаговременно знать о необходимости производить демонтаж сплит-системы.
      Для этого следует дождаться низких температур наружного воздуха, перекрыть
      всасывающий и нагнетательный вентили. При низких температурах большая
      часть фреона естественным путем соберется в теплообменнике внешнего блока.
      Останется только отсоединить медные трубопроводы, как в предыдущих
      случаях. Данный способ очень простой, но все равно небольшая утечка
      холодильного агента произойдет, и при последующей установке придется
      произвести дозаправку кондиционера.
    </p>

    <p>
      Существует еще один способ демонтировать кондиционер, самый сложный,
      требующий применения профессионального оборудования. Однако без
      специальных навыков им не воспользоваться. В сплит- системах высокой
      производительности фреон заправляется в большом количестве и не всегда его
      можно в полном объеме собрать в теплообменнике внешнего блока. В таких
      случаях применяют специальные заправочные цилиндры, куда собирается весь
      фреон. В этом случае роль теплообменника будет выполнять заправочный
      цилиндр.
    </p>
  </div>
</section>
