<section class="blog">
  <div class="container">
    <h2 class="blog__title section-title">Новое в блоге</h2>

    <ul class="blog__list">
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/1.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/2.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/3.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/4.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/1.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/2.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/3.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/4.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/1.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/2.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/3.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/4.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/1.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/2.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/3.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img src="images/content/blog/4.jpg" alt="1" />
          </div>
          <div class="blog-card__info">
            <h3 class="blog-card__title">
              <a href="#"
                >Как проверить сплит систему на наличие признаков утечки
                хладагента</a
              >
            </h3>
            <div class="blog-card__text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor....
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <div class="catalog__pagination pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <a class="pagination__link pagination__link--active" href="#">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">3</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">4</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">5</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link pagination__link--last" href="#"
            >Последняя</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
