<section class="boilers-handling">
  <div class="container">
    <div class="boilers-handling__wrapper">
      <div class="boilers-handling__left">
        <h2 class="boilers-handling__title">
          Паровые котлы 
          большой мощности
        </h2>
        <p class="boilers-handling__text">
          являются потенциальным источником опасности. Чтобы избежать серьезных
          проблем и дорогостоящего ремонта необходимо строго придерживаться всех
          требований по эксплуатации, прописанных производителями оборудования.
          Одно из главных условий для сохранения долговечности и эффективности
          установленного у вас парогенератор – регулярное техническое
          обслуживание паровых котлов.
        </p>
      </div>
      <div class="boilers-handling__right">
        <p>
          Мы предлагаем нашим клиентам различные сервисные программы, которые
          включают плановое техобслуживание отопительной системы и аварийные
          выезды в случае возникновения неполадок. При заключении долгосрочного
          договора, вы получаете максимальный эффект при минимальных затратах.
          На все виды работ и используемые материалы мы предоставляем
          официальную гарантию центра.
        </p>
        <p>
          Мы готовы оперативно выполнить весь комплекс мероприятий уже при
          первом посещении. Для этого аварийные выездные бригады укомплектованы
          всеми необходимыми материалами и инструментами.
        </p>

        <p>
          Если ремонт на объекте невозможно, вы обеспечим его на собственной
          ремонтной базе, оснащенной самым современным оборудованием. Перевозка
          крупногабаритной техники производится автотранспортом компании,
          имеющим гидроподъемник.
        </p>
      </div>
    </div>
  </div>
</section>
