<section class="cost">
  <div class="container">
    <div class="cost__wrapper">
      <div class="cost__offer">
        <h2 class="cost__title">Стоимость ремонта и обслуживания вентиляции</h2>

        <div class="cost__text">
          <p>
            Стоимость ремонта вентиляции многоквартирного дома или предприятия
            определяется сметой. Перечень услуг, предлагаемых фирмами по ремонту
            вентиляции в квартирах и офисах, разнится. Поэтому стоимость
            сервисного пакета, включающего почти одинаковые услуги, может быть
            разной. Цена ремонта вентиляции определяется видом, мощностью и
            разветвленностью сети, количеством и типом оборудования. Планируя
            ремонт вентиляции в квартире, предварительно изучите предложения
            нескольких компаний, уделив особое внимание уровню квалификации
            специалистов, оснащенности оборудованием и инструментами.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="cost__preview"
    style="background-image: url('images/content/cost-bg.png')"
  ></div>
</section>
