<section class="danger">
  <div class="container">
    <div class="danger__wrapper">
      <div class="danger__offer">
        <h2 class="danger__title">
          Чем грозит отсутствие сервисного обслуживании?
        </h2>

        <div class="danger__text">
          <p>
            Техническое обслуживание вытяжной вентиляции имеет огромное
            значение. Независимо от того, установлена ли вентиляционная система
            в офисе, на производстве или в жилом доме, без необходимых сервисных
            мероприятий вся вентиляция подвергается большому риску, а главное –
            подвергает опасности здоровье людей в здании. Даже в обычной жилой
            квартире в воздухе накапливается угарный газ при приготовлении пищи,
            не говоря уже о производственных зданиях, где концентрация вредных
            для здоровья веществ гораздо выше. Очень важна вентиляция в санузлах
            и ванных комнатах – иначе там начинают скапливаться неприятные
            запахи и сырость, образуется плесень.
          </p>
        </div>
      </div>
      
      <div
        class="danger__preview-small"
        style="background-image: url('images/content/danger-bg.png')"
      ></div>
    </div>
  </div>
  <div
    class="danger__preview"
    style="background-image: url('images/content/danger-bg.png')"
  ></div>
</section>
