<section class="diagnostics">
  <div class="container">
    <div class="diagnostics__top">
      <h2 class="diagnostics__title">
        Диагностика и профилактические мероприятия
      </h2>
      <div class="diagnostics__text">
        <p>
          Плановое обслуживание вентиляции – это выполнение двух видов работ:
          полная диагностика вентиляционной системы и мероприятия по сервису, и
          профилактике.
        </p>
      </div>
    </div>

    <div class="diagnostics__box">
      <h3 class="diagnostics__heading">Диагностика включает в себя:</h3>
      <ol class="diagnostics__list">
        <li class="diagnostics__item">
          Определение типа и вида системы, ее показатели на износ и общее
          техническое состояние всех элементов системы вентиляции.
        </li>
        <li class="diagnostics__item">
          Определение чистоты воздушных фильтров.
        </li>
        <li class="diagnostics__item">
          Неоднократное измерение разницы между давлением и температурой на
          входе в вентсистему и на выходе, а также сравнение показателей.
        </li>
        <li class="diagnostics__item">
          Диагностика вентиляторов, их механических свойств.
        </li>
        <li class="diagnostics__item">
          Контроль состояния вентиляционных решеток снаружи и внутри. Осмотр
          воздухозаборных и воздухораспределительных решеток.
        </li>
        <li class="diagnostics__item">
          Тестирование электрических сетей и автоматических приборов системы.
        </li>
        <li class="diagnostics__item">
          Контроль за срабатыванием аварийного отключения вентсистемы.
          Диагностика проводится в соответствии с ГОСТами и в ходе неё
          определяются все сервисно-профилактические меры для устранения
          неисправностей в системе вентиляции.
        </li>
      </ol>
    </div>

    <div class="diagnostics__box">
      <h3 class="diagnostics__heading">Мероприятия по сервису и профилактике включают в себя:</h3>
      <ol class="diagnostics__list">
        <li class="diagnostics__item">
          Проведение очистки всех воздуховодов, фильтров, приборов вытяжки и нагнетания воздуха.

        </li>
        <li class="diagnostics__item">
          Измерение напряжения электросети, снабжающей током все приборы системы вентиляции.
        </li>
        <li class="diagnostics__item">
          Анализирование изменения температуры воздушного потока и его влажности в движении от вхождения в помещение до выхода
          на улицу.
          
        </li>
        <li class="diagnostics__item">
          Анализ и установление причины изменения температуры воздушного потока в ту или иную сторону (перегрев или сильное
          охлаждение).
        </li>
        <li class="diagnostics__item">
          Внесение всех неисправностей в карточку сервисного обслуживания.
        </li>
      </ol>
    </div>
  </div>
</section>
