<section class="guarantee guarantee--cols">
  <div class="container">
    <div class="guarantee__inner">
      <div class="guarantee__left">
        <h2 class="guarantee__title">
          Инженеры компании подготовлены для ремонта всех типов тепловых насосов
        </h2>
        <div class="guarantee__text">
          <p>
            имеют техническую возможность и всё необходимое сервисное
            оборудование, для того, чтобы произвести любой, даже технически
            сложный капитальный ремонт теплового насоса, без транспортировки в
            сервисный центр.
          </p>

          <p>
            Так же команда «Клим Сервис» проводит диагностику репловых насосов
            на высоком профессиональном уровне, дает гарантию на работы и
            запчасти.
          </p>
        </div>
      </div>
      <ul class="guarantee__list">
        <li class="guarantee__item guarantee__item--work">
          <div class="guarantee__icon">
            <img
              width="49"
              height="49"
              src="images/icons/warranty.svg"
              alt=""
            />
          </div>
          <p class="guarantee__descr">
            Гарантия на <span>проведенные работы</span>
          </p>
        </li>
        <li class="guarantee__item guarantee__item--spare-parts">
          <div class="guarantee__icon">
            <img
              width="49"
              height="49"
              src="images/icons/warranty-1.svg"
              alt=""
            />
          </div>
          <p class="guarantee__descr">
            Гарантия на <span>используемые запчасти</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
