<section class="mounting">
  <div class="container">
    <h2 class="mounting__title">Монтаж систем вентиляции</h2>

    <ul class="mounting__list">
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/1.png"
                width="233"
                height="115"
                alt="Приточная
              вентиляция"
              />
            </div>
            <h3 class="ventilation-card__title">
              Приточная <span> вентиляция </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Приточный механизм вентиляции нужен тогда, когда ваша задача –
                доставка свежего уличного воздуха в помещение. Если вам
                захочется большего, то вы сможете добавить такие опции обработки
                воздуха, как фильтрация, нагрев, охлаждение, увлажнение и
                осушение.
              </p>
            </div>
          </div>

          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/2.png"
                width="193"
                height="145"
                alt="Приточная
              вентиляция"
              />
            </div>
            <h3 class="ventilation-card__title">
              Вытяжная <span> вентиляция </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Вытяжной механизм вентиляции работает по принципу вытяжки на
                кухне: она всасывает загрязненный и отработанный воздух, а также
                воздух с высоким содержанием газов и пыли. Только на кухне она
                локальная, а вытяжная вентиляция – установка, рассчитанная на
                очистку воздуха целого помещения, например, крупного
                предприятия.
              </p>
            </div>
          </div>
          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/3.png"
                width="220"
                height="135"
                alt="Приточно-вытяжная"
              />
            </div>
            <h3 class="ventilation-card__title">
              Приточно-вытяжная <span> вентиляция </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Вытяжной механизм вентиляции работает по принципу вытяжки на
                кухне: она всасывает загрязненный и отработанный воздух, а также
                воздух с высоким содержанием газов и пыли. Только на кухне она
                локальная, а вытяжная вентиляция – установка, рассчитанная на
                очистку воздуха целого помещения, например, крупного
                предприятия.
              </p>
            </div>
          </div>
          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/4.png"
                width="235"
                height="105"
                alt="Приточно-вытяжная"
              />
            </div>
            <h3 class="ventilation-card__title">
              Вентиляция

              <span> с рекуперацией </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Приточно-вытяжная система с рекуперацией предназначена для
                экономии электроэнергии, нагревающей свежий воздух в зимний
                сезон. Рекуператор забирает тепло из выходящего потока воздуха и
                передает его новому, поступающему с улицы.
              </p>
            </div>
          </div>
          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/5.png"
                width="160"
                height="155"
                alt="Приточно-вытяжная"
              />
            </div>
            <h3 class="ventilation-card__title">
              Противодымная
              <span> вентиляция </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Противодымная вентиляция создана для снижения концентрации
                продуктов горения и обеспечения незадымляемости помещений,
                коридоров и лестниц. За счет слаженной работы всех элементов
                обеспечивается параллельная очистка воздуха, улучшается
                видимость в эвакуационных коридорах и холлах здания, лифтах.
              </p>
            </div>
          </div>
          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
      <li class="mounting__itme">
        <article class="ventilation-card">
          <div class="ventilation-card__top">
            <div class="ventilation-card__img">
              <img
                src="images/content/ventilations/6.png"
                width="228"
                height="145"
                alt="Приточно-вытяжная"
              />
            </div>
            <h3 class="ventilation-card__title">
              Промышленная

              <span> вентиляция </span>
            </h3>
          </div>
          <div class="ventilation-card__info">
            <div class="ventilation-card__text">
              <p>
                Промышленный механизм вентиляции используется в помещениях
                промышленного назначения, где нужна мощность: производствах,
                цехах, складах и т.д.. Работает в режиме притока и вытяжки
                воздуха, разница в том, что промышленная вентиляция еще и
                поддерживает показатели температуры и уровня влажности в
                зависимости от требований.
              </p>
            </div>
          </div>
          <button class="ventilation-card__btn btn" type="button">
            Вызвать мастера
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>
