<section class="popular-tags">
  <div class="container">
    <div class="popular-tags__wrapper">
      <h2 class="popular-tags__title">Популярные теги</h2>

      <div class="popular-tags__content">
        <div class="popular-tags__slider swiper">
          <ul class="popular-tags__slides swiper-wrapper">
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#Ремонт_кондиционеров</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#Ремонт_сптил</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#обслуживание</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#ралиатор</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#стабилизатор_напряжения</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#Ремонт_кондиционеров</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#Ремонт_сптил</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#обслуживание</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#ралиатор</a>
            </li>
            <li class="popular-tags__slide swiper-slide">
              <a class="popular-tags__tag" href="#">#стабилизатор_напряжения</a>
            </li>
          </ul>
        </div>

        <div class="popular-tags__arrows arrows">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
