<section class="price-list">
  <div class="container">
    <h2 class="price-list__title">
      Прайс - лист на работы <span> по монтажу вентиляции </span>
    </h2>

    <div class="price-list__wrapper">
      <div class="price-list__box">
        <div class="price-list__top">
          <div class="price-list__left">Монтаж приточных установок</div>
          <div class="price-list__right">Стоимость</div>
        </div>
        <ul class="price-list__list">
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточной установки мощностью до 300 м3/час
            </div>
            <div class="price-list__right">от 11000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточной установки мощностью до 700 м3/час
            </div>
            <div class="price-list__right">от 13000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточной установки мощностью до 1500 м3/час
            </div>
            <div class="price-list__right">от 22000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточной установки мощностью до 2000 м3/час
            </div>
            <div class="price-list__right">от 28000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточной установки мощностью до 3000 м3/час
            </div>
            <div class="price-list__right">от 33000 руб.</div>
          </li>
        </ul>
      </div>
      <div class="price-list__box">
        <div class="price-list__top">
          <div class="price-list__left">
            Монтаж приточно - вытяжных установок
          </div>
          <div class="price-list__right">Стоимость</div>
        </div>
        <ul class="price-list__list">
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточно-вытяжной установки мощностью до 700 м3/час
            </div>
            <div class="price-list__right">от 18000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточно-вытяжной установки мощностью до 1500 м3/час
            </div>
            <div class="price-list__right">от 32500 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточно-вытяжной установки мощностью до 2500 м3/час
            </div>
            <div class="price-list__right">от 39000 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж приточно-вытяжной установки мощностью свыше 2500 м3/час
            </div>
            <div class="price-list__right">от 49000 руб.</div>
          </li>
        </ul>
      </div>
      <div class="price-list__box">
        <div class="price-list__top">
          <div class="price-list__left">
            Монтаж приточно - вытяжных установок
          </div>
          <div class="price-list__right">Стоимость</div>
        </div>
        <ul class="price-list__list">
          <li class="price-list__item">
            <div class="price-list__left">Монтаж вытяжной установки</div>
            <div class="price-list__right">от 1500 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Сборка вытяжной установки</div>
            <div class="price-list__right">от 1800 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">
              Монтаж и подключение вытяжного вентилятора
            </div>
            <div class="price-list__right">от 1100 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Подключение вытяжной установки</div>
            <div class="price-list__right">от 3000 руб.</div>
          </li>
        </ul>
      </div>
      <div class="price-list__box">
        <div class="price-list__top">
          <div class="price-list__left">
            Монтаж приточно - вытяжных установок
          </div>
          <div class="price-list__right">Стоимость</div>
        </div>
        <ul class="price-list__list">
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 100 мм (м.п.)</div>
            <div class="price-list__right">от 140 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 125 мм (м.п.)</div>
            <div class="price-list__right">от 160 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 160 мм (м.п.)</div>
            <div class="price-list__right">от 240 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 200 мм (м.п.)</div>
            <div class="price-list__right">от 340 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 250 мм (м.п.)</div>
            <div class="price-list__right">от 440 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Монтаж круглого воздуховода D = 315 мм (м.п.)</div>
            <div class="price-list__right">от 540 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Прокладка гибких воздуховодов (1 м.кв.)</div>
            <div class="price-list__right">от 290 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Прокладка жестких прямоугольных воздуховодов (1 м.кв.)</div>
            <div class="price-list__right">от 490 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Демонтаж прямоугольного воздуховода (м.п.)</div>
            <div class="price-list__right">от 140 руб.</div>
          </li>
          <li class="price-list__item">
            <div class="price-list__left">Демонтаж круглого воздуховода D = 250 мм (м.п.)</div>
            <div class="price-list__right">от 190 руб.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
