<section class="promo promo--boilers">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h2 class="promo__title">
          Ремонт паровых котлов <br />
          и котельного оборудования
        </h2>

        <p class="promo__text">
          Обратитесь в компанию «Клим Сервис», чтобы заказать профессиональный
          ремонт или замену тепловых насосов, используемых для отопления
          помещений или нагрева воды в бассейне. В кратчайшие сроки мы
          восстановим работоспособность оборудования.
        </p>

        <ul class="promo__list">
          <li class="promo__item promo__item--free">
            <div class="promo__heading">
              <p>Бесплатная <span> диагностика </span></p>
            </div>
          </li>
          <li class="promo__item promo__item--warranty">
            <div class="promo__heading">
              <p>Гарантия до 12 <span>месяцев</span></p>
            </div>
          </li>
          <li class="promo__item promo__item--transportation">
            <div class="promo__heading">
              <p>Выезд от 30 <span>минут</span></p>
            </div>
          </li>
        </ul>

        <button class="promo__btn btn btn--call">Вызвать мастера</button>
      </div>

      <!-- <div
        class="promo__preview"
        style="background-image: url('images/content/promo-pumps.png')"
      ></div> -->
    </div>
  </div>
</section>
