<section class="promo promo--viessman">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h2 class="promo__title">Ремонт паровых котлов
          Viessman</h2>

        <p class="promo__text">
          Паровые котлы – это вид отопительной техники, использующий в работе энергию
          сгораемого топлива, за счёт чего происходит превращение воды в пар. Чтобы такое
          оборудование выполняло возложенные разработчиком функции в полной мере,
          необходимо производить межсезонные профилактические работы.
        </p>

        <ul class="promo__list">
          <li class="promo__item promo__item--free">
            <div class="promo__heading">
              <p>Бесплатная <span> диагностика </span></p>
            </div>
          </li>
          <li class="promo__item promo__item--warranty">
            <div class="promo__heading">
              <p>Гарантия до 12 <span>месяцев</span></p>
            </div>
          </li>
          <li class="promo__item promo__item--transportation">
            <div class="promo__heading">
              <p>Выезд от 30 <span>минут</span></p>
            </div>
          </li>
        </ul>

        <button class="promo__btn btn btn--call">Вызвать мастера</button>
      </div>

      <div
        class="promo__preview"
        style="background-image: url('images/content/promo-viessman.png')"
      ></div>
    </div>
  </div>
</section>
