<section class="pumps-malfunctions">
  <div class="container">
    <div class="pumps-malfunctions__wrapper">
      <div class="pumps-malfunctions__offer">
        <h2 class="pumps-malfunctions__title">
          Основные признаки неисправности тепловых насосов
        </h2>
        <div class="pumps-malfunctions__text">
          <p>
            Срочная потребность в проведении диагностики и ремонта большинства
            тепловых насосов определяется по любым нетипичным признакам их
            работы, что свидетельствует о сбоях в эксплуатации оборудования. В
            первую очередь, обратите внимание на снижение эффективности работы
            теплового оборудования, например, при неравномерном обогреве
            помещения, недостаточной температуре воды в системе циркуляции
            отопления или воздуха в помещении. Признаками проблем и сигналом к
            ремонту также является избыточный шум при работе насоса, вибрация,
            частые отключения и непрерывная работа компрессора.
          </p>
        </div>
      </div>

      <div class="pumps-malfunctions__box">
        <span class="pumps-malfunctions__heading">
          Перечень работ по ремонту теплового насоса:
        </span>
        <ul class="pumps-malfunctions__list">
          <li class="pumps-malfunctions__item">
            Выезд мастера и диагностика работы бытового или промышленного
            теплового насоса воздух-вода.
          </li>
          <li class="pumps-malfunctions__item">
            Устранение течи хладагента, ремонт контура циркуляции фреона.
          </li>
          <li class="pumps-malfunctions__item">Заправка системы фреоном</li>
          <li class="pumps-malfunctions__item">
            Отладка или замена компрессора тепловой системы. Восстановление или
            замена циркуляционного насоса.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
