<section class="pumps-reasons">
  <div class="container">
    <div class="pumps-reasons__wrapper">
      <div class="pumps-reasons__left">
        <h2 class="pumps-reasons__title">Причины поломки теплового насоса</h2>
        <div class="pumps-reasons__box">
          <p>
            Обратитесь к нам и узнайте, сколько стоит диагностика и ремонт
            вышедшего из строя теплового насоса на объекте заказчика.
          </p>
          <div class="pumps-reasons__img">
            <img
              width="55"
              height="55"
              src="images/content/recommendation.svg"
              alt="reccomendations"
            />
          </div>
        </div>
      </div>
      <ul class="pumps-reasons__list">
        <li class="pumps-reasons__item">
          Высокое давление в испарителе теплового оборудования по причине
          значительной нагрузки на ТРВ, требующее незамедлительного ремонта.
        </li>
        <li class="pumps-reasons__item">
          Поломка впускных клапанов компрессора насоса.
        </li>
        <li class="pumps-reasons__item">
          Недостаток мощности из-за ошибок в проектировании или монтаже.
        </li>
        <li class="pumps-reasons__item">
          Увеличенная площадь испарителя теплового насоса.
        </li>
        <li class="pumps-reasons__item">Загрязнения конденсатора.</li>
        <li class="pumps-reasons__item">
          Несоответствие наружных условий, что часто является причиной ремонта.
        </li>
        <li class="pumps-reasons__item">
          Избыточный объём фреона в насосе и другие факторы.
        </li>
        <li class="pumps-reasons__item">
          Повышенная нагрузка на тепловой агрегат
        </li>
      </ul>
    </div>
  </div>
</section>
