<section class="promo-service">
  <div class="container">
    <h2 class="promo-service__title">
      Профессиональный сервис <br />
      тепловых насосов
    </h2>

    <div class="promo-service__wrapper">
      <div class="promo-service__left">
        <p>
          Тепловые насосы сегодня получили широкое распространение, по причине
          усовершенствования технологий и внедрения инновационных технологий в
          данное оборудование, которые существенно изменили эффективность
          тепловых насосов в различных климатических зонах. В настоящее время,
          тепловой насос — это не просто вид холодильной системы, которая
          «похожа на кондиционер» — так считают много представителей
          неквалифицированного сервиса.
        </p>
      </div>
      <div class="promo-service__right">
        <img
          class="promo-service__img"
          src="images/content/promo-service-img.png"
          alt="promo-service"
        />
        <div class="promo-service__box">
          <p>
            Предлагаем уровень качества сервиса, который соответствует вашим
            ожиданиям. Предоставляем возможность вызвать квалифицированного
            инженера для проведения диагностики и ремонта теплового насоса,
            независимо от места нахождения теплового насоса, диагностика и
            ремонт производятся в Москве и во всех районах Подмосковья.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
