<section class="pumps-handling">
  <div class="container">
    <div class="pumps-handling__wrapper">
      <div class="pumps-handling__left">
        <h2 class="pumps-handling__title">
          Техническое обслуживание тепловых насосов
        </h2>
        <p class="pumps-handling__text">
          Наша компания предоставляет услуги по техническому обслуживанию
          тепловых насосов, только владельцам, которые в состояние оплачивать
          квалифицированный сервис дорогого, специализированного оборудования.
          Наша компания не предлагает квалифицированные услуги по сходной цене
          или в бюджетном исполнение, владельцам тепловых насосов, не согласных
          с мировыми нормами и не желающих оплачивать свой комфорт..
        </p>
      </div>
      <div class="pumps-handling__right">
        <p>
          Техническое обслуживание (ТО) тепловых насосов требует специальных
          знаний и подготовки, может выполняться только квалифицированным
          специалистом. Регулярное техническое обслуживание любой холодильной
          техники — обязательное требование. Именно в регулярности проведения
          сервисных мероприятий заключается смысл и результат технического
          обслуживания не только холодильных систем, но тепловых насосов
          особенно. Отсутствие регулярных сервисных мероприятий предполагает
          спонтанный выход из строя компонентов системы, не увеличивает ресурс и
          не сокращает расходы на эксплуатацию. Даже разовое техническое
          обслуживание не приводит к положительным результатам, т.к. отсутствие
          регулярности уже приводит к изменению физических характеристик и
          рабочих режимов системы и компонентов, и проведение обслуживания
          холодильной или климатической системы с большими интервалами не
          позволяет восстановить утраченные физические характеристики изношенных
          компонентов и последующий, заводской режим работы, без проведения
          капитального ремонта.
        </p>
      </div>
    </div>
  </div>
</section>
