<section class="pumps-spare">
  <div class="container">
    <div class="pumps-spare__wrapper">
      <div class="pumps-spare__left">
        <div class="pumps-spare__offer">
          <h2 class="pumps-spare__title">
            Запасные части для тепловых насосов
          </h2>
          <p class="pumps-spare__text">
            Обращаем внимание, что наша компания производит замену вышедших из
            строя узлов и компонентов тепловых насосов, только на оригинальные.
            Аналоги запасных частей которые мы применяем при ремонте тепловых
            насосов, устанавливаются только в исключительных случаях, когда
            вышедший из строя компонент или узел снят с производства.
          </p>
        </div>
        <div class="pumps-spare__box">
          <p>
            Приглашая мастера, подготовьте документацию системы и убедитесь, что
            доступ к внутренним блокам, узлам и элементам теплового насоса
            обеспечен.
          </p>
        </div>
      </div>
      <div class="pumps-spare__preview">
        <img src="images/content/pumps-spare.png" alt="preview" />
      </div>
    </div>
  </div>
</section>
