<section class="pumps-pools">
  <div class="container">
    <div class="pumps-pools__wrapper">
      <div class="pumps-pools__preview">
        <img src="images/content/pumps-pools.png" alt="preview" />
      </div>
      <div class="pumps-pools__right">
        <h2 class="pumps-pools__title">
          Ремонт тепловых насосов для бассейнов
        </h2>
        <div class="pumps-pools__text">
          <p>
            Ремонт тепловых насосов для бассейнов производится в удобное для
            владельца время, сроки проведения ремонта не превышают одного дня.
            Наша компания гарантирует, что произведённый ремонт теплового насоса
            нашим инженером не приведёт к дополнительным неисправностям
            теплового насоса в ближайшее время.
          </p>

          <p>
            Производим замену компонентов и узлов (компрессор, вентилятор,
            контроллер, и т.д.) тепловых насосов на оригинальные, согласно
            техническим требованиям компании производителя, в случае снятия с
            производства требуемой модели компонента, подбираем аналог не
            уступающий по качеству, характеристикам и требованиям к
            эксплуатации.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
