<section class="stages">
  <div class="container">
    <div class="stages__wrapper">
      <h2 class="stages__title">
        Этапы <span>монтажа</span> <span>вентиляции</span>
      </h2>

      <ul class="stages__list">
        <li class="stages__item">
          <div class="stages__item-icon">
            <img
              width="38"
              height="38"
              src="images/content/stages/1.png"
              alt="Экспертная консультация"
            />
          </div>
          <h3 class="stages__heading">1. Экспертная консультация</h3>
          <div class="stages__text">
            Мы запросим у вас исходные данные по проекту вентиляции и предложим
            несколько вариантов. Вне зависимости от того, кого вы выберете в
            качестве исполнителя, мы подберем наиболее подходящее решение и
            проконсультируем по возникшим вопросам.
          </div>
        </li>
        <li class="stages__item">
          <div class="stages__item-icon">
            <img
              width="38"
              height="38"
              src="images/content/stages/2.png"
              alt="Составление проектной документации"
            />
          </div>
          <h3 class="stages__heading">2. Составление проектной документации</h3>
          <div class="stages__text">
            Команда поможет вам в составлении четкого и прозрачного технического
            задания, а проектные специалисты создадут на его основе эскиз и
            разработают проект вентиляции. Все эти процессы занимают не более 2
            недель.
          </div>
        </li>
        <li class="stages__item">
          <div class="stages__item-icon">
            <img
              width="38"
              height="38"
              src="images/content/stages/3.png"
              alt=" Поставка оборудования и материалов"
            />
          </div>
          <h3 class="stages__heading">3. Поставка оборудования и материалов</h3>
          <div class="stages__text">
            После того, как вы согласуете проект вентиляции, мы займемся
            поставкой оборудования и материалов. Вы можете быть уверены в
            качестве привозимых конструкций и деталей – мы работаем только с
            теми производителями, которые прошли проверку временем.
          </div>
        </li>
        <li class="stages__item">
          <div class="stages__item-icon">
            <img
              width="38"
              height="38"
              src="images/content/stages/4.png"
              alt=" Монтаж вентиляции"
            />
          </div>
          <h3 class="stages__heading">4. Монтаж вентиляции</h3>
          <div class="stages__text">
            На этом этапе ваше присутствие не понадобится. Конечно, если вы сами
            не захотите присутствовать. Здесь мы осуществим монтаж вентиляции:
            воздуховодов, вентиляционного оборудования и дополнительных
            элементов, обязательных для работы системы.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
