<section class="terms">
  <div class="container">
    <h2 class="terms__title">Сроки монтажа вентиляции</h2>

    <div class="terms__wrapper">
      <div class="terms__top">
        <p>
          Согласование схем и составление графика время работ занимает около 2
          дней.
        </p>

        <p>
          Подробнее об особенностях, влияющих на сроки, можно уточнить у
          менеджеров.
        </p>
      </div>

      <div class="terms__text">
        <p>
          Сроки выполнения монтажа вентиляции в Москве под ключ зависят от
          сложности объекта, например, для ресторана, срок может занимать от 1
          недели до 2 месяцев.
        </p>

        <p>
          Пусконаладка и настройка автоматики, в среднем, занимают от 12 до 24
          часов.
        </p>

        <p>
          Установка вентиляционной системы – сложный, но важный процесс. При
          строительстве коммерческого или государственного объекта, ее внедрение
          необходимо: она гарантирует безопасность и здоровье людей, особенно в
          местах их скопления, за счет достаточного количества чистого воздуха.
        </p>
      </div>
    </div>
  </div>

  <div
    class="terms__preview"
    style="background-image: url('images/content/terms-bg.png')"
  ></div>
</section>
