<section class="viessman-reasons">
  <div class="container">
    <div class="viessman-reasons__wrapper">
      <div class="viessman-reasons__left">
        <h2 class="viessman-reasons__title">
          Особенности и частые
          поломки котлов Viessman
        </h2>
        <p class="viessman-reasons__text">
          Практика показывает, что чаще всего мастера Клим Сервис в Москве
          сталкиваются со следующими видами поломок паровых котельных установок.
        </p>
        <div class="viessman-reasons__box">
          <p>
            Обратитесь к нам и узнайте, сколько стоит диагностика и ремонт
            вышедшего из строя парового котла.
          </p>
          <div class="viessman-reasons__img">
            <img
              width="55"
              height="55"
              src="images/content/recommendation.svg"
              alt="reccomendations"
            />
          </div>
        </div>
      </div>
      <ul class="viessman-reasons__list">
        <li class="viessman-reasons__item">
          Несоответствие давления нормируемым показателям.
        </li>
        <li class="viessman-reasons__item">
          Выход из строя водоуказательного прибора.
        </li>
        <li class="viessman-reasons__item">Поломка питательного насоса.</li>
        <li class="viessman-reasons__item">Котёл работает с перегревом пара.</li>
        <li class="viessman-reasons__item">
          Низкое качество распыления топлива.
        </li>
        <li class="viessman-reasons__item">
          Периодическое затухание пламени в горелке.
        </li>
        <li class="viessman-reasons__item">Пульсация факела, рваное пламя.</li>
        <li class="viessman-reasons__item">
          Выход из строя предохранительного клапана
        </li>
        <li class="viessman-reasons__item">
          Выбросы продуктов сгорания с мощным хлопком.
        </li>
        <li class="viessman-reasons__item">Перегрев материалов обшивки.</li>
      </ul>
    </div>
  </div>
</section>
