<section class="boilers-malfunctions">
  <div class="container">
    <div class="boilers-malfunctions__wrapper">
      <div class="boilers-malfunctions__offer">
        <h2 class="boilers-malfunctions__title">
          Производим ремонт всех видов котельного оборудования Viessman
        </h2>
        <div class="boilers-malfunctions__text">
          <p>
            «Клим Сервис» осуществляет качественный и быстрый ремонт водогрейных
            котлов типа КВ-ГМ, ПТВМ и паровых котлов типа Е, ДЕ, ДКВр, КЕ,
            газовых и дизельных систем самой различной мощности. Также следует
            отметить оперативные сроки реагирования на тот или иной запрос.
          </p>

          <p>
            Нашей основной задачей является диагностика, предотвращение
            неисправности отопительной системы. Мы объясним причину поломки
            котла, выдадим рекомендации, чтобы такого в дальнейшем не
            повторялось, а также осуществим высококачественный ремонт котлов
            ДКВр и ПТВМ, и самое главное, по приемлемым ценам!
          </p>
        </div>
      </div>

      <div class="boilers-malfunctions__box">
        <span class="boilers-malfunctions__heading"> Комплекс работ </span>
        <ul class="boilers-malfunctions__list">
          <li class="boilers-malfunctions__item">
            очистка от солевых отложений;
          </li>
          <li class="boilers-malfunctions__item">замена или ремонт трубок;</li>
          <li class="boilers-malfunctions__item">
            проверка и ремонт системы предохранителей;
          </li>
          <li class="boilers-malfunctions__item">
            диагностика и наладка автоматики;
          </li>
          <li class="boilers-malfunctions__item">
            замена вышедших из строя деталей;
          </li>
          <li class="boilers-malfunctions__item">
            диагностика корпуса на наличие повреждений;
          </li>
          <li class="boilers-malfunctions__item">
            проверка соединений и запорной арматуры;
          </li>
          <li class="boilers-malfunctions__item">
            тестирование и замена регуляторов;
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
