<section class="why">
  <div class="container">
    <h2 class="why__title">
      Зачем нужно сервисное <span> обслуживание вентиляции?</span>
    </h2>

    <div class="why__text">
      <p>
        Обслуживание вентиляции— одно из необходимых условий для комфортного
        микроклимата в помещении. Проверки и диагностика оборудования не должны
        быть разовым явлением, ведь именно от контроля за состоянием системы
        вентиляции зависит ее бесперебойная работа. Стоит отметить, что проверка
        эффективности работы вентиляции предусмотрена нормативными требованиями
        в РФ. Отсутствие документов об обслуживании и проверках работы
        вентиляционной системы может повлечь за собой неприятные последствия для
        владельца бизнеса. Как показывает практика, многие скрытые проблемы
        выявляются только в ходе профессиональной диагностики системы вентиляции
        и кондиционирования. Сервисное обслуживание в несколько раз снижает риск
        внезапных поломок дорогого оборудования, а также помогает поддерживать
        работу все системы циркуляции воздуха на высоком уровне.
      </p>
    </div>
  </div>
</section>
